.contact-section{
    margin-top: 100px;
    margin-bottom: 150px;
}

.contact-section h1{
    font: normal normal bold 73px Helvetica;
    letter-spacing: 0.61px;
}

.contact__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: 0 auto;
}

.contact__form::placeholder{
    text-align: initial;
}

.contact__form .name{
    grid-row-start: 1;
    grid-row-end: 1 ;
    grid-column-start: 1;
    grid-column-end: 1;
    border: 1px black solid;
    border-radius: 0%;
    margin: 5px 10px 5px 0px;
    padding: 20px 25px;
}
.contact__form .email{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    border: 1px black solid;
    border-radius: 0%;
    margin: 5px 10px 5px 0px;
    padding: 20px 25px;
}
.contact__form .phone{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    border: 1px black solid;
    border-radius: 0%;
    margin: 5px 10px 5px 0px;
    padding: 20px 25px;
}

.contact__form .phone::-webkit-outer-spin-button,
.contact__form .phone::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.contact__form .message{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    border: 1px black solid;
    border-radius: 0%;
    margin: 5px 0px 5px 10px;
    padding: 20px 25px;
    resize: none;
}

.contact__form .message::placeholder{
    text-align:start;
}
.contact__form .btn-send{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: black;
    color: white;
    border: 1px black solid;
    border-radius: 0%;
    margin: 5px 0px 5px 10px;
    padding: 20px 25px;
    font-size: 25px;
    font-weight: bold;
}

@media only screen and (max-width:1200px){
    .contact-section h1{
        font: normal normal bold 50px Helvetica;
    }

    .contact__form{
        display: block;
        width: 100%;
    }

    .contact__form .name,
    .contact__form .email,
    .contact__form .phone,
    .contact__form .message{
        width: 75%;
        margin: 5px 5px 5px 0px;
    }

    .contact__form .message{
        padding-bottom: 50px;
    }

    .contact__form .btn-send{
        padding: 15px 50px;
    }
}