.contact-section{
    margin-top: 100px;
    margin-bottom: 150px;
}

.contact-section h1{
    font: normal normal bold 73px Helvetica;
    letter-spacing: 0.61px;
}

.contact__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: 0 auto;
}

.contact__form::placeholder{
    text-align: initial;
}

.contact__form .form-fname {
    grid-row-start: 1;
    grid-row-end: 1 ;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 5px 10px 5px 0px;
}

.contact__form .form-fname .fname{
   width: 100%;
   padding: 20px 0;
   border: 1px black solid;
   border-radius: 0%;
}

.contact__form .form-sname {
    grid-row-start: 2;
    grid-row-end: 2 ;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 5px 10px 5px 0px;
}

.contact__form .form-sname .sname{
   width: 100%;
   padding: 20px 0;
   border: 1px black solid;
   border-radius: 0%;
}


.contact__form .form-email{
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 5px 10px 5px 0px;
}

.contact__form .form-email .email{
    width: 100%;
    padding: 20px 0;
    border: 1px black solid;
    border-radius: 0%;
}

.contact__form .form-telefono{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 5px 10px 5px 0px;
}

.contact__form .form-telefono .telefono{
    width: 100%;
    padding: 20px 0;
    border: 1px black solid;
    border-radius: 0%;
}
.contact__form .form-telefono .telefono::-webkit-outer-spin-button,
.contact__form .form-telefono .telefono::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.contact__form .form-message{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 5px 0px 10px 10px;
}

.contact__form .form-message .message{
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px black solid;
    border-radius: 0%;
}
.contact__form .form-message textarea::placeholder{
    text-align:start;
    font: normal normal 13px Helvetica;
}

.contact__form .form-fname input::placeholder,
.contact__form .form-sname input::placeholder,
.contact__form .form-email input::placeholder,
.contact__form .form-telefono input::placeholder{
   position: relative;
   left: 5px;
   font: normal normal 13px Helvetica;
}

.contact__form .btn-send{
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: black;
    color: white;
    border: 1px black solid;
    border-radius: 0%;
    margin: 5px 0px 5px 10px;
    padding: 13px 20px;
    font-size: 25px;
    font-weight: bold;
}

@media only screen and (max-width:600px){

    .contact-section h1{
        font: normal normal bold 50px Helvetica;
    }

    .contact__form{
        display: block;
        width: 90%;
    }

    .contact__form .form-fname,
    .contact__form .form-sname,
    .contact__form .form-email,
    .contact__form .form-telefono,
    .contact__form .form-message{
        display: block;
        width: 75%;
        margin: 15px auto;
    }

    .contact__form .form-fname input::placeholder,
    .contact__form .form-sname input::placeholder,
    .contact__form .form-email input::placeholder,
    .contact__form .form-telefono input::placeholder{
        position: relative;
        left: 5px;
        font: normal normal 13px Helvetica;
    }

    .contact__form .form-message .message{
        padding-bottom: 80px;
    }

    .contact__form .btn-send{
        padding: 15px 50px;
    }
}