.models{
    scroll-margin-top: 100px;
}

.models h1{
    font: normal normal bold 73px Helvetica;
    letter-spacing: 0.61px;
    color: #232323;
    
}

@media only screen and (max-width:1200px){
    
    .models{
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .models h1{
        width: 100%;
        font: normal normal bold 50px Helvetica;
    }

    #compass{
        width: 100%;
    }
}