.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: white;
    padding: 20px 0;
    position: fixed;
    text-align: left;
    font: normal normal bold 14px/16px Helvetica;
    letter-spacing: 0.14px;
    color: #5B5B5F;
    z-index: 100;
}

.nav .nav__logo{
    width: 25%;
    margin-left: 50px;
}

.nav .nav__logo img{
    width: 120px;
}
.nav .nav__menu{
    width: 75%;
}
.nav .nav__menu .nav__list{
    display: flex;
    justify-content: end;
    align-items: center;   
    list-style-type: none;
}

.nav__list a img{
    width: 40px;
}

.nav__item{
    width: 100%;
}
.nav__item a{
    text-decoration: none;
    position: relative;
    margin-right: 150px; 
    font-size: 15px;  
    color: inherit;
}

.nav__item a::selection{
  transition: 0.5s;
}

.nav__item a:before{
    content: '';
    background: rgb(197, 197, 197);
    width: 180px;
    height: 1px;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.nav__item a:hover::after{
    width: 55px;
}

.nav__item a:after{
    content: '';
    background: rgb(39, 39, 39);
    width: 30px;
    height: 4px;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 0.5s;
}

.mobile-menu{
    display: none;
}

@media only screen and (max-width:1200px){

    .nav{
        max-width: 100%;
        display: block;
        padding-bottom: 0;
        position: absolute;
    }
    .nav .nav__logo{
        margin-left: 20px;
    }
    
    .nav .nav__logo img{
        width: 70px;
    }

    .nav .nav__menu .nav__list{
        display: none;
    }

    .nav .nav__menu{
        padding: 0;
        transition: all 0.5s ease-out;
    }

    .nav .nav__menu .nav__list__mobile{
        position: relative;
        display: block;
        background-color: rgba(255, 255, 255, 0.178);
        left: 0;
        transition: all 0.5s ease-out;
        width: 100%;
        margin: 0;
        padding-left: 0;
        box-shadow: 0 22px 20px -15px rgba(0, 0, 0, 0.397);
    }

    .nav .nav__menu .nav__list__mobile .nav__item{
        text-align: left;
        list-style: none;
    }

    .nav .nav__menu .nav__list__mobile .nav__link img{
        display: none;
    }

    .nav__item{
        color: black;
        text-align: center;
        padding: 32px;
        width: 100%;
        transition: all 0.5s ease;
    }

    .mobile-menu{
        display: block;
        position: absolute;
        font-size: 30px;
        color: black;
        background-color: white;
        border: none;
        outline: none;
        top: 15px;
        right: 20px;
    }
}
